body {
    background-color: rgb(34, 33, 33);
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    margin: 0 20px;
}

.time {
    color: white;
    font-size: 20px;
    text-align: center;
    height: 25px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: rgb(57, 53, 53);
    position: relative;
    border-radius: 20px;
    border: 10px solid gray;
    box-shadow: 3px 3px 5px black;
}

.block-second {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
}

.text {
    cursor: pointer;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
}

.text:hover {
    color: rgb(16, 136, 206);
}

.text-restart {
    cursor: pointer;
    color: white;
    font-size: 25px;
    transition: all 0.3s;
}

.text-restart:hover {
    color: rgb(16, 136, 206);
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

.hidden {
    display: none;
}

@media (max-width: 400px) {
    .block {
        height: 400px;
    }
}