body {
    background-color: rgb(34, 33, 33);
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0, 50px;
}

.container {
    width: 500px;
}

.time {
    color: white;
    font-size: 20px;
    text-align: center;
    height: 25px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: rgb(57, 53, 53);
    position: relative;
    border-radius: 20px;
    border: 10px solid gray;
    box-shadow: 3px 3px 5px black;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.block-second {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
}

.text {
    cursor: pointer;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
}

.text:hover {
    color: rgb(16, 136, 206);
}

.text-restart {
    cursor: pointer;
    color: white;
    font-size: 25px;
    transition: all 0.3s;
}

.text-restart:hover {
    color: rgb(16, 136, 206);
}

.choosing-time-text {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.new-block {
    display: flex;
    flex-direction: column;
}

.block-for-time {
    display: flex;
    column-gap: 10px;
    color: white;
    font-size: 18px;
}

.choosing-time {
    border: 1px solid black;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.choosing-time:hover {
    color: rgb(16, 136, 206);
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

.hidden {
    display: none;
}

@media (max-width: 400px) {
    .block {
        height: 400px;
        border: 1px solid gray;
    }
    .time {
        font-size: 15px;
    }
    .block-for-time {
        font-size: 15px;
        column-gap: 5px;
    }
    .text-restart {
        font-size: 18px;
    }
}